Contenu de l'onglet 2 :
<div class="p-slider__wrapper">
            <input class="p-slider" min="0" max="125" value="3" step="1" id="amount-community" type="range">
            <input type="hidden" name="item_name_4" value="Community projects">
          </div>