Sélection par le poids ?<br/>
<label for="customRange3">Indiquez le poids minimum</label>
<input type="range" class="custom-range" min="0" max="10000" step="500" id="poids_min">

<label for="customRange3">Indiquez le poids maximum</label>
<input type="range" class="custom-range" min="0" max="10000" step="500" id="poids_max">