<form action="index.php?rub=charger-cochons" method="POST">
<div class="flex-container row" style="padding-top:10px;">
    <div class="flex-container column">
        
            <label for="couleur">Couleur</label> :
            <select id="couleur" name="couleur" class="flex-item">
                {% for c in couleurs %}
                    <option value="{{c.cou_id}}">{{c.cou_libelle}}</option>
                {%endfor %}
            </select>
            <label for="race">Race</label> : 
            <select id="race" name="race" class="flex-item">
                {% for r in races %}
                    <option value="{{r.rac_id}}">{{r.rac_libelle}}</option>
                {%endfor %}
            </select>
       
    </div>
    <div class="flex-container column" style="margin-left:50px;">
        <input type="checkbox" name="femelle" id="femelle">&nbsp;<label for="femelle">Femelle</label><br/>
        <input type="checkbox" name="male" id="male">&nbsp;<label for="male">Mâle</label>
    </div>
</div>
<button class="btn btn-warning" type="submit">Voir les cohons !</button>
</form>