{% extends 'base.html.twig' %}

{% block title %}Galerie de photos du cochon n° {{cochon_id}} {% endblock %}
   
{% block content %}
    <h1>Galerie du cochon n° {{cochon_id}}</h1>
    {% for p in pictures %}
        p.pho_titre
    {% endfor %}
{% endblock %}