body, html{
    position: relative;
    margin:0;
    padding:0;
    height:91%;
}

.content{
    min-height:100%;
    margin:0 auto;
    position:relative;
}

footer{
    background-color: lightpink;
    text-align: center;
    font-weight: bold;
    
   
    bottom:0;
    height:9%;
    width:100%;
}

.fondRose{
    background-color: lightpink;
}

.contour {
    border:2px solid red;
}

.onglet_accueil{
    width:300;
}

.slider{
    height: 400px;
}

.espace{
    height:100;
}

.titre{
    font-style: italic;
}

#news{
    text-align :"center";
    font-weight: "bold";
    
}


/*
.table-row{
    display: table-row;
}
*/