{% extends 'admin/admin_base.html.twig' %} 

{% block title %}Confirmation{% endblock %}

{% block content %}
    {% if addCochon == 0 %}
        Désolé, il y a eu un problème durant le processus.<br>
        
    {% else %}
        Le processus s'est correctement déroulé.
    {% endif %}
    <a href="index.php?rub=admin_pig-list">Retour à la liste.</a>
{% endblock %}