{% extends 'admin/admin_base.html.twig' %} 

{% block content %}
<h1>Suppression d'un cochon</h1>
Êtes-vous sûr de vouloir tuer ce cochon ?<br/>
Nom : {{ nom }}
<br/>
<a class="btn btn-success" href="index.php?rub=admin_pig-delete-base&id={{id}}" role="button">Oui</a>
<a class="btn btn-danger" href="index.php?rub=admin_pig-list" role="button">Non</a>

{% endblock %}