<!DOCTYPE HTML>
<HTML>
    <HEAD>
        <title>Administration</title>
        <meta charset="UTF-8">
        <script src="public/js/function.js"></script>
    </HEAD>
    <body>
        <h1>Administration du site d'un cochon</h1>
        Désolé, vous n'êtes pas un utilisateur authentifié
    </body>
</html>